<h1>Edição de funcionário</h1>

<a href="/">Voltar para o início</a> <br>
<a href="/registro">Registrar funcionário</a><br>

<form action="/editar" method="post">
     <input type="hidden" name="id" value={{empregado.id}}>
     <label for="nome">Nome: </label><br>
     <input type="text" name="nome" value={{empregado.nome}}><br>
     <label for="salario">Salário: </label><br>   
     <input type="" name="salario" value="{{empregado.salario}}"><br>
     <label for="departmento">departamento: </label><br>
     <select id="departamento" name="departamento">
          <option value="1">Administrativo</option>
          <option value="2">Designer</option>
          <option value="3">Contábil</option>
          <option value="4">Fábrica</option>
     </select> <br><br>  
     <input type="submit" value="Enviar">
     <input type="reset" value="Reset">
</form>

